body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a {
  text-decoration: none;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}
